button {
  margin-left: 85%;
  margin-bottom: 20px;
}
.fa-arrow-circle-left{
    padding-right: 5px;
}
span{
    color: red;
  padding-left: 10px;
}
form{
    padding-top: 12px;
}
select{
    margin-top: 7px;
}
label{
    font-size: 19px;
    color: blueviolet;
    margin-top: 0px;
}