  <div class="list">
  <table class="">
    <thead class="">
      <tr>
        <th class="stt col1"><i class="far fa-square"></i></th>
        <th class="on col2">#</th>
        <th class="img col3">File</th>
        <th class="name col4">Tên</th>
        <th class="numcontact col5">Số HĐ</th>
        <th class="tax col6">Mã số thuế</th>
        <th class="price col7">Price</th>
        <th class="curency col8">Cur</th>
        <th class="vat col9">Include VAT</th>
        <th class="rote col10"> VAT Role</th>
        <th class="delete col11"></th>
      </tr>
      <tr class="filter">
        <td class="col1"></td>
        <td class="col2"></td>
        <td class="col3"></td>
        <td class="col4"><input type="text" name="" id="" class="form-control" placeholder="Filter"></td>
        <td class="col5"><input type="text" name="" id="" class="form-control " placeholder="Filter"></td>
        <td class="col6"><input type="text" name="" id="" class="form-control " placeholder="Filter"></td>
        <td class="col7"><input type="text" name="" id="" class="form-control " placeholder="Filter"></td>
        <td class="col8"><input type="text" name="" id="" class="form-control " placeholder="Filter"></td>
        <td class="col9"><input type="text" name="" id="" class="form-control " placeholder="Filter"></td>
        <td class="col10"><input type="text" name="" id="" class="form-control" placeholder="Filter"></td>
        <td class="col11"></td>
      </tr>
    </thead>
    <tr>
    </tr>
  </table>
</div>