label{
    display: inline-block;
    margin-top: 20px;
    font-family: 'Roboto SemiBold', sans-serif;
    font-weight: bold;
    margin-bottom: 3px;
  }
  button{
      height: 26px;
      background-color: #1565aa;
      border-color: #125893; 
      color: #fff;
      cursor: pointer;
  }
  .main{
      font-family: 'Roboto', sans-serif;
  }
  input.invalid {
    border-color: red;
  }