.container {
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .form-group {
  width: 400px;
  padding-bottom: 0px;
}
.container .form-group span {
  color: red;
  padding-left: 10px;
}
input {
  width: 350px;
  height: 26px;
  border: 1px solid #e9e5e5;
  font-size: 12px;
}
input.invalid{
  border-color: red;
}
label{
  display: inline-block;
}